{% extends "layout.html" %}

{% block pageTitle %}
  Tree information
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="check-your-answers.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Charge added
      </h1>
      <div class="govuk-panel__body">
        HM Land Registry reference<br><strong>LLC-1KR</strong>
      </div>
    </div>

    <p class-"govuk-body">
      <a class="govuk-link" href="stat-prov.html">Add another local land charge</a>
    </p>
    <p class-"govuk-body">
      <a class="govuk-link" href="dashboard.html">Return to main menu</a>
    </p>

  </div>
</div>

{% endblock %}
