
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Prototype</span>
        Manage trees
      </h1>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="stat-prov">Add a tree</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Update a tree</a>
        </li>
        <li>
          <a class="govuk-link" href="#">View a tree</a>
        </li>
      </ul>

    </div>
  </div>


{% endblock %}
